# Szablon konfiguracji (dla innych osób pracujących nad projektem)
COMPOSE_PROJECT_NAME=java-spring-grupa-ni

MYSQL_CONTAINER_NAME=mysql-grupa-gi
MYSQL_ROOT_PASSWORD=wpisz_wlasne_haslo
MYSQL_DATABASE=budgetapp
MYSQL_USER=user
MYSQL_PASSWORD=wpisz_wlasne_haslo

TZ=Europe/Warsaw
JWT_SECRET=tutaj_wpisz_losowy_dlugi_ciag_znakow